:root {
    --main-color: #D9EACA;
    --font-grey: #878787;
    --gold: #B88D49;
    --bolder-grey: #4A4A4A;
}

body {
    justify-items: center;
    font-family: inter;
    background: var(--font-grey);   
}

/* CONTAINER */
.container {
    position: relative;
    width: 520.24px;
    height: 1081px;
    justify-items: center;
    text-align: center;
    overflow: hidden;
    font-weight: 500;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--font-grey);
    z-index: 9;

}

/* ------------------------------- */

.top-rectangle {
    display: flex;
    background-color: var(--main-color);
    width: 520.24px;
    height: 37.68px;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--font-grey);
    font-size: 17px;
}

/* NOTIFICATION */
.time-digits {
    margin-left: 26px;
}
.AMPM {
    margin-left: 3px;
}

.fa-solid.fa-signal {
    margin-left: 315.22px
}

.fa-sharp.fa-solid.fa-battery-three-quarters.fa-rotate-270.fa-xs {
    margin-left: 1px;
}
.battery-percentage {
    float: right;
    margin-left: 2px;
}

/* PIE */
.pie {
    width: 243.1px;
    height: 243.1px;
    border-radius: 400px;
    margin-top: -185px;
    background: conic-gradient(
        white 0% 25%,
        var(--main-color) 25% 50%,
        var(--main-color) 50% 75%,
        white 75% 100%
    );
}

.welcome-label {
    margin-top: -49.84px;
    font-size: 19.45px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.fa-solid.fa-bars {
    position: absolute;
    font-size: 34.5px;
    
}

.menu {
    float: left;
    position: absolute;
    margin-top: -40.03px;
    margin-left: -480.9px;
    font-weight: normal;
}


/* NOTIFICATION */
.notification-count {
    position: relative;
    float: right;
    margin-top: -52.7px;
    margin-right: 24.29px;
    height: 23.87px;
    width: 23.87px;
    background-color: red;
    align-content: center;
    text-align: center;
    border-radius: 100px;
    color: white;
    z-index: 5;
    font-weight: bold;
}

.notification-ring {
    position: relative;
    float: right;
    height: 45px;
    width: 45px;
    background-color: rgba(127, 255, 212, 0);
    margin-right: 34.25px;
    margin-top: -48px;
    border-radius: 200px;
    border: 2px;
    border-style: solid;
    border-color: #49B84D;
    z-index: 1;
}

/* NOTIFICATION BELL */
.fa-regular.fa-bell {
    z-index: 100;
    font-size: 25px;
    margin-top: 9px;
    color:#49B84D
}

/* PROFILE PIC */
.profile-pic {
    width: 73.21px;
    height: 73.21px;
    margin-top: -5.47px;
    margin-left: 90px;
   
}

/* ACCOUNT NAME */
.account-name {
    color: var(--font-grey);
    font-weight: 500;
    margin-top: -3.49px;
    font-size: 24.31px;
}


/* ACCOUNTS */
.accounts-area {
    display: flex;
}
.accounts {
    position: relative;
    width: 469.19px;
    text-align: center;
    font-size: 15.8px;
    font-weight: 500;
    margin-left: 0px;
    margin-top: -29.79px;
}

.account-label {
    position: relative;
    background-color: var(--main-color);
    width: 144.76px;
    height: 41.33px;
    text-align: left;
    padding-left: 31.6px;
    align-content: center;
    border-radius: 26.74px;
    z-index: 1px;
    margin-top: 32.99px;
    color: var(--gold)
}

.active-account-label {
    position: relative;
    background-color: rgb(254, 254, 254);
    width: 340.34px;
    height: 41.33px;
    text-align: center;
    align-content: center;
    border-radius: 26.74px;
    float: right;
    z-index: 10px;
    margin-top: -41.40px;
    box-shadow: inset rgba(0, 0, 0, 0.250) 0px 1px 2.5px;
    color: var(--font-grey);
    
}

/* ARROW */
.arrow-class {
    position: relative;
    margin-top: -75px;
    margin-left: 425.11px;
}

.arrow {
    position: relative;
    width: 13.36px;
    height: 19.85px;
    color: var(--gold);
    margin-top: 45px;
    z-index: 20px;
}

/* CARD */
.card {
    width: 469.19px;
    height: 220.01px;
    margin-top: 43.47px;
    box-shadow: 0px 1px 3.4px rgba(0, 0, 0, 0.250);
    border-radius: 24.31px;
    text-align: left;
}

.top-area {
    display: flex;
    position: relative;
    text-align: center;
    align-content: center;
    
}
.available-balance-label {
    width: 139.78px;
    height: 23.09px;
    font-size: 13px;
    font-weight: normal;
    align-content: center;
    border-radius: 12.16px;
    margin-top: 23.09px;
    margin-left: 20.66px;
    background-color: var(--main-color);
    color: var(--gold);
}

.upgrade-limit-label {
    width: 139.78px;
    height: 23.09px;
    font-size: 13px;
    align-content: center;
    border-radius: 12.16px;
    margin-top: 23.09px;
    width: 139.78px;
    height: 23.09px;
    font-size: 17px;
    align-content: center;
    color: var(--gold);
    border-radius: 12.16px;
    margin-top: 23.09px;
    margin-left: 143.43px;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.250);
    border-radius: 24.31px; 
}

.account-balance {
    display: flex;
    position: relative;
    margin-top: 29.17px;
    font-size: 38.9px;
    font-weight: 700;
    margin-left: 20.66px;
    color: var(--gold);
    letter-spacing: 4px;
}

.eyes-img {
    width: 33.73px;
    height: 25.68px;
    margin-top: 10px;
    margin-left: 10px;
}

/* LINE */
.card-line {
    width: 254.04px;
    height: 1.22px;
    background: linear-gradient(to right, #878787, rgba(255, 255, 0, 0));
    margin-top: 29.58px;
}

.block-ledger-balance-area {
    margin-top: 6.08px;
    font-size: 14px;
    margin-left: 20.02px;
    font-weight: 302;
}

.block-balance {
    color: #C84A20;
} 

.ledger-balance {
    color: #4A4A4A;
    margin-top: 5px;
}

.clone.icon {
    position: relative;
    margin-left: -200px;
}

/* QUICK ACTIONS */
.quick-actions-text {
    justify-content: center;
    text-align: center;
    font-size: 18.23px;
    margin-top: 80.47px;
}

/* ICONS */
.transaction-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 30.27px;
    height: 35.6px;
    width: 412.06px; 
}

.send-icon {
    filter: drop-shadow(0px 1.43px 1.43px rgba(0, 0, 0, 0.250));
}

.airtime-icon {
    filter: drop-shadow(0px 1.43px 1.43px rgba(0, 0, 0, 0.250));
}

.card-transactions-icon {
    filter: drop-shadow(0px 1.43px 1.43px rgba(0, 0, 0, 0.250));
}

.bills-icon {
    filter: drop-shadow(0px 1.43px 1.43px rgba(0, 0, 0, 0.250));
}

/* ICONS LABELS */
.transaction-icons-labels {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 412.06px;
    margin-top: 22.07px;
    font-weight: 600;
    font-size: 17.02px;
}

.transfer-label {
    margin-left: -16.41px;
}

.airtime-label {
    margin-left: -38.4px;
}

.card-label {
    margin-left: -11px;
}

.bills-label {
    margin-right: -3px;
}


/* CLONE - CPOY */
.clone-icon {
    margin-top: -62.42px;
    margin-left: 350px;
}

.fa-slab-press.fa-regular.fa-copy {
    display: flex;
    color: #878787;
    font-size: 32px;
}

/* RECENT TRANSACTION */
.recent-transactions-label {
    margin-top: 62.7px;
    float: left;
    margin-left: 26.74px;
    font-weight: bold;
    font-size: 18.23px;
}

/* VIEW ALL LABEL */
.view-all-label {
    margin-top: 62.7px;
    float: right;
    margin-right: 26.74px;
    color: var(--gold);
    font-weight: bold;
    font-size: 18.23px;
}

/* TRANSACTION HISTORY CONTAINER */
.transaction-history-container {
    position: relative;
    background-color: #ffffff;
    border-radius: 24.31px;
    margin-top: 103.67px;
    font-size: 19.45;
    width: 469.19px;
    height: 334.26px; 
    z-index: 2;
    font-size: 19.45px;
    font-weight: normal;
}

/* RECENT TRANSACTION CONTAINER  */
.recent-transactions {
     display: flex; 
     margin-top: 15px;
}

/* TRANSACTION DATE */
.transaction-time-date {
    display: flex;
    margin-top: 1px;
    margin-left: 32.82px;
    font-size: 12.16px;
}

#transaction-date {
    margin-left: 7.29px;
}

#transaction-1  {
    color: #C84A20;
    margin-top: 25.28px;
    float: left;
    margin-left: 32.82px;
}

/* (-) */
#debit-minus {
    margin-top: 25.28px;
    margin-left: 14.59px;
    font-size: 19.45px;
    color: var(--bolder-grey);
}

/* (NAIRA SIGN) */
#currency2 {
    margin-top: 25.28px;
    margin-left: 2px;
    font-size: 19.45px;
    color: var(--bolder-grey);
    float: right;
    
}

#transaction-amonut {
    position: relative;
    margin-top: 25.28px;
    float: right;
    margin-right: 19.45px;
    margin-left: 2px;
    font-size: 19.45px;
    color: var(--bolder-grey);
    justify-self: end;
}


/* BACKGROUND ECLLIPSE */
.ellipse {
    position: relative;
    transform: rotate(-15deg);
    z-index: -1;
    height: 583.73px;
    width: 788.55px;
    border-radius: 300px;
    margin-top: -500.75px;
    background: linear-gradient(to top, var(--main-color), rgb(255, 255, 255));
} 
    
.fa-solid.fa-arrow-up {
    position: absolute;
    font-size: 13px;
    margin-left: 28px;
    margin-top: 10px;
    transform: rotate(180deg);
    color: #49B84D;
}