* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    perspective: 2000px;
}

body {
    background: radial-gradient(circle at center, #0d0303 20%, rgb(3, 4, 35)) 10%;
    min-height: 100vh; 
    display: grid;
    place-content: center;

}

.container {
    width: 300px;
    height: 300px;   
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(-50deg);
    animation: rotate 20s infinite ease-in-out; 
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);


    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@keyframes box-color {
    0% {
        background-color: rgb(214, 150, 22);
    }
    20% {
        background-color:  rgb(22, 131, 214);
    }
    30% {
        background-color:  rgb(150, 22, 214);
    }
    40% {
        background-color:  rgb(214, 73, 22);
    }
    50% {
        background-color:  rgb(22, 214, 131);
    }
    100% {
        background-color: rgb(54, 54, 54);
    }
   
}

.card {
    position: absolute;
    border: 1px solid rgba(71, 71, 71, 0);
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.855);
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 1.5rem;
    opacity: 80%;
    background-color: rgb(214, 150, 22);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    animation: box-color 10s infinite ease-in-out;
    color: rgba(255, 255, 255, 0.121);
}

#front {
    transform: translateZ(150px);
}

#back {
    transform: rotateY(180deg) translateZ(150px);
}

#left {
    transform: rotateY(-90deg) translateZ(150px);
}

#top {
    transform: rotateX(90deg) translateZ(150px);
}

#bottom {
    transform: rotateX(-90deg) translateZ(150px);
}

#right {
    transform: rotateY(90deg) translateZ(150px);
}